<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.greenlantern">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreenLantern">
        <activity

            android:name=".food.Food_OrderView"
            android:exported="true" />
        <activity
            android:name=".food.Food_CustomerMsg"
            android:exported="true" />
        <activity
            android:name=".food.Food_ProductDiscription"
            android:exported="true" />
        <activity
            android:name=".food.FoodShop"
            android:exported="true" />
        <activity

            android:name=".table.Confirmation"
            android:exported="true" />
        <activity
            android:name=".table.deleteForm"
            android:exported="true" />
        <activity
            android:name=".table.Update_form"
            android:exported="true" />
        <activity
            android:name=".table.tableBooking"
            android:exported="true" />
        <activity
            android:name=".table.table_form_2_single"
            android:exported="true" />
        <activity
            android:name=".table.table_form_single"
            android:exported="true"
            android:parentActivityName=".Table" />
        <activity

            android:name=".Booking"
            android:exported="true" />
        <activity
            android:name=".Experience"
            android:exported="true" />
        <activity
            android:name=".Food"
            android:exported="true" />
        <activity
            android:name=".Table"
            android:launchMode="singleTask" />
        <activity
            android:name=".Room"
            android:launchMode="singleTask" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>